<h1><%= @post.id %>번째 글</h1>
<p>제목 : <%= @post.title %></p>
<p>내용 : <%= @post.content %></p>

<%= link_to "[수정]", "/posts/#{@post.id}/edit" %>
<%= link_to "[삭제]", "/posts/#{@post.id}", method: "delete" %>
